@inherits R_Page
@attribute [R_Page(Title = "Invoice Entry")]
@using APT00100COMMON.DTOs.APT00100
@using APT00100COMMON.DTOs.APT00110
@using APT00100MODEL

<R_TabStrip>
    <R_TabStripTab Title="Invoice Header" Id="InvoiceHeader">
        <R_StackLayout Row>
            <R_ItemLayout col="7">
                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>Property*</R_Label>
                    </R_ItemLayout>

                    <R_ItemLayout col="6">
                        <R_ComboBox Data="@loViewModel.loPropertyList"
                                    Value="@loViewModel.Data.CPROPERTY_ID"
                                    ValueField="@nameof(GetPropertyListDTO.CPROPERTY_ID)"
                                    TextField="@nameof(GetPropertyListDTO.CPROPERTY_NAME)"
                                    ValueChanged="@((string value) => PropertyComboBox_ValueChanged(value))"
                                    R_ConductorSource="@_conductorRef"
                                    R_EnableAdd
                                    R_EnableEdit>
                        </R_ComboBox>
                    </R_ItemLayout>

                    <R_ItemLayout col="2">
                        <R_Label FontSize="15px" FontStyle="R_eFontStyle.Bold" FontColor="R_eFontColor.Primary">
                            @loViewModel.Data.CTRANS_STATUS_NAME
                        </R_Label>
                    </R_ItemLayout>
                </R_StackLayout>

                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>Department*</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="2">
                        <R_TextBox @bind-Value="@loViewModel.Data.CDEPT_CODE"
                                   R_ConductorSource="@_conductorRef"
                                   R_EnableAdd R_EnableEdit>
                        </R_TextBox>
                    </R_ItemLayout>
                    <R_ItemLayout col="0">
                        <R_Lookup R_ConductorSource="@_conductorRef"
                                  R_Before_Open_Lookup="@R_Before_Open_LookupDepartment"
                                  R_After_Open_Lookup="@R_After_Open_LookupDepartment"
                                  R_EnableAdd
                                  R_EnableEdit>...</R_Lookup>
                    </R_ItemLayout>
                    <R_ItemLayout col="5">
                        <R_TextBox @bind-Value="@loViewModel.Data.CDEPT_NAME"
                                   R_ConductorSource="@_conductorRef"
                                   Enabled="false">
                        </R_TextBox>
                    </R_ItemLayout>
                </R_StackLayout>

                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>Reference No.*</R_Label>
                    </R_ItemLayout>

                    <R_ItemLayout col="3">
                        <R_TextBox @bind-Value="@loViewModel.Data.CREF_NO"
                                   R_ConductorSource="@_conductorRef"
                                   Enabled="false">
                        </R_TextBox>
                    </R_ItemLayout>

                    <R_ItemLayout col="2">
                        <R_Label>Ref Date*</R_Label>
                    </R_ItemLayout>

                    <R_ItemLayout col="4" Class="pe-3">
                        <R_DatePicker @bind-Value="@loViewModel.Data.DREF_DATE"
                                      R_ConductorSource="@_conductorRef"
                                      R_EnableAdd R_EnableEdit>
                        </R_DatePicker>
                    </R_ItemLayout>
                </R_StackLayout>

                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>Supplier*</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="3">
                        <R_TextBox @bind-Value="@loViewModel.Data.CSUPPLIER_ID"
                                   R_ConductorSource="@_conductorRef"
                                   R_EnableAdd R_EnableEdit>
                        </R_TextBox>
                    </R_ItemLayout>
                    <R_ItemLayout col="0">
                        <R_Lookup R_ConductorSource="@_conductorRef"
                                  R_Before_Open_Lookup="@R_Before_Open_LookupSupplier"
                                  R_After_Open_Lookup="@R_After_Open_LookupSupplier"
                                  R_EnableAdd R_EnableEdit>...</R_Lookup>
                    </R_ItemLayout>
                    <R_ItemLayout col="4">
                        <R_TextBox @bind-Value="@loViewModel.Data.CSUPPLIER_SEQ_NO"
                                   R_ConductorSource="@_conductorRef"
                                   Enabled="@IsSupplierEnabled">
                        </R_TextBox>
                    </R_ItemLayout>
                    <R_ItemLayout col="0">
                        <R_Lookup R_ConductorSource="@_conductorRef"
                                  R_Before_Open_Lookup="@R_Before_Open_LookupSupplierInfo"
                                  R_After_Open_Lookup="@R_After_Open_LookupSupplierInfo"
                                  Enabled="@IsSupplierEnabled">...</R_Lookup>
                    </R_ItemLayout>
                </R_StackLayout>

                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label></R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="8">
                        <R_TextBox @bind-Value="@loViewModel.Data.CSUPPLIER_NAME"
                                   R_ConductorSource="@_conductorRef"
                                   MaxLength="100"
                                   Enabled="@IsSupplierEnabled">
                        </R_TextBox>
                    </R_ItemLayout>
                </R_StackLayout>

                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>Supplier's Ref No.*</R_Label>
                    </R_ItemLayout>

                    <R_ItemLayout col="3">
                        <R_TextBox @bind-Value="@loViewModel.Data.CDOC_NO"
                                   R_ConductorSource="@_conductorRef"
                                   MaxLength="30"
                                   R_EnableAdd R_EnableEdit>
                        </R_TextBox>
                    </R_ItemLayout>

                    <R_ItemLayout col="2">
                        <R_Label>Date*</R_Label>
                    </R_ItemLayout>

                    <R_ItemLayout col="4" Class="pe-3">
                        <R_DatePicker Value="@loViewModel.Data.DDOC_DATE"
                                      R_ConductorSource="@_conductorRef"
                                      ValueChanged="@((DateTime value) => DocDateDatePicker_ValueChanged(value))"
                                        R_EnableAdd R_EnableEdit>
                        </R_DatePicker>
                    </R_ItemLayout>
                </R_StackLayout>

                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>Term*</R_Label>
                    </R_ItemLayout>

                    <R_ItemLayout col="3">
                        <R_ComboBox Data="@loViewModel.loPaymentTermList"
                                    Value="@loViewModel.Data.CPAY_TERM_CODE"
                                    ValueField="@nameof(GetPaymentTermListDTO.CPAY_TERM_CODE)"
                                    TextField="@nameof(GetPaymentTermListDTO.CPAY_TERM_NAME)"
                                    R_ConductorSource="@_conductorRef"
                                    ValueChanged="@((string value) => TermComboBox_ValueChanged(value))"
                                    R_EnableAdd
                                    R_EnableEdit>
                        </R_ComboBox>
                    </R_ItemLayout>

                    <R_ItemLayout col="2">
                        <R_Label>Due Date*</R_Label>
                    </R_ItemLayout>

                    <R_ItemLayout col="4" Class="pe-3">
                        <R_DatePicker Value="@loViewModel.Data.DDUE_DATE"
                                      R_ConductorSource="@_conductorRef"
                                      ValueChanged="@((DateTime value) => DueDateDatePicker_ValueChanged(value))"
                                      R_EnableAdd R_EnableEdit>
                        </R_DatePicker>
                    </R_ItemLayout>
                </R_StackLayout>

                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>Currency*</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="8">
                        <R_ComboBox Data="@loViewModel.loCurrencyList"
                                    Value="@loViewModel.Data.CCURRENCY_CODE"
                                    ValueField="@nameof(GetCurrencyListDTO.CCURRENCY_CODE)"
                                    TextField="@nameof(GetCurrencyListDTO.CDISPLAY)"
                                    ValueChanged="@((string value) => CurrencyComboBox_ValueChanged(value))"
                                    R_ConductorSource="@_conductorRef"
                                    R_EnableAdd
                                    R_EnableEdit>
                        </R_ComboBox>
                    </R_ItemLayout>
                </R_StackLayout>

                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>Currency Rate</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="2">
                        <R_Label FontSize="10px">Local Currency</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="2">
                        <R_NumericTextBox @bind-Value="@loViewModel.Data.NLBASE_RATE"
                                          R_ConductorSource="@_conductorRef"
                                          Enabled="IsLocalCurrencyEnabled">
                        </R_NumericTextBox>
                    </R_ItemLayout>
                    <R_ItemLayout col="1">
                        <R_TextBox @bind-Value="@loViewModel.Data.CCURRENCY_CODE"
                                   R_ConductorSource="@_conductorRef"
                                   Enabled="false">
                        </R_TextBox>
                    </R_ItemLayout>
                    <R_ItemLayout Style="width: 5px">
                        <R_Label>=</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="2">
                        <R_NumericTextBox @bind-Value="@loViewModel.Data.NLCURRENCY_RATE"
                                          R_ConductorSource="@_conductorRef"
                                          Enabled="IsLocalCurrencyEnabled">
                        </R_NumericTextBox>
                    </R_ItemLayout>
                    <R_ItemLayout col="1">
                        <R_TextBox @bind-Value="@loViewModel.Data.CLOCAL_CURRENCY_CODE"
                                   R_ConductorSource="@_conductorRef"
                                   Enabled="false">
                        </R_TextBox>
                    </R_ItemLayout>
                </R_StackLayout>

                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label></R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="2">
                        <R_Label FontSize="10px">Base Currency</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="2">
                        <R_NumericTextBox @bind-Value="@loViewModel.Data.NBBASE_RATE"
                                          R_ConductorSource="@_conductorRef"
                                          Enabled="IsBaseCurrencyEnabled">
                        </R_NumericTextBox>
                    </R_ItemLayout>
                    <R_ItemLayout col="1">
                        <R_TextBox @bind-Value="@loViewModel.Data.CCURRENCY_CODE"
                                   R_ConductorSource="@_conductorRef"
                                   Enabled="false">
                        </R_TextBox>
                    </R_ItemLayout>
                    <R_ItemLayout Style="width: 5px">
                        <R_Label>=</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="2">
                        <R_NumericTextBox @bind-Value="@loViewModel.Data.NBCURRENCY_RATE"
                                          R_ConductorSource="@_conductorRef"
                                          Enabled="IsBaseCurrencyEnabled">
                        </R_NumericTextBox>
                    </R_ItemLayout>
                    <R_ItemLayout col="1">
                        <R_TextBox @bind-Value="@loViewModel.Data.CBASE_CURRENCY_CODE"
                                   R_ConductorSource="@_conductorRef"
                                   Enabled="false">
                        </R_TextBox>
                    </R_ItemLayout>
                </R_StackLayout>

                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_CheckBox Value="@loViewModel.Data.LTAXABLE"
                                    R_ConductorSource="@_conductorRef"
                                    ValueChanged="@((bool value) => TaxableCheckbox_ValueChanged(value))"
                                    R_EnableAdd R_EnableEdit>
                        </R_CheckBox>
                        <R_Label>Taxable</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="2">
                        <R_TextBox @bind-Value="@loViewModel.Data.CTAX_ID"
                                   R_ConductorSource="@_conductorRef"
                                   Enabled="IsTaxable">
                        </R_TextBox>
                    </R_ItemLayout>
                    <R_ItemLayout col="0">
                        <R_Lookup R_ConductorSource="@_conductorRef"
                                  R_Before_Open_Lookup="@R_Before_Open_LookupTax"
                                  R_After_Open_Lookup="@R_After_Open_LookupTax"
                                  Enabled="IsTaxable">...</R_Lookup>
                    </R_ItemLayout>
                    <R_ItemLayout col="4">
                        <R_TextBox @bind-Value="@loViewModel.Data.CTAX_NAME"
                                   R_ConductorSource="@_conductorRef"
                                   Enabled="false">
                        </R_TextBox>
                    </R_ItemLayout>

                    <R_ItemLayout col="2">
                        <R_NumericTextBox @bind-Value="@loViewModel.Data.NTAX_PCT"
                                          Arrows="false"
                                          R_ConductorSource="@_conductorRef"
                                          Enabled="false">
                        </R_NumericTextBox>
                    </R_ItemLayout>
                    <R_ItemLayout Style="width: 5px">
                        <R_Label>%</R_Label>
                    </R_ItemLayout>
                </R_StackLayout>

                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label></R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="2">
                        <R_Label FontSize="10px">Tax Rate</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="2">
                        <R_NumericTextBox @bind-Value="@loViewModel.Data.NTAX_BASE_RATE"
                                          R_ConductorSource="@_conductorRef"
                                          Enabled="IsTaxCurrencyEnabled">
                        </R_NumericTextBox>
                    </R_ItemLayout>
                    <R_ItemLayout col="1">
                        <R_TextBox @bind-Value="@loViewModel.Data.CCURRENCY_CODE"
                                   R_ConductorSource="@_conductorRef"
                                   Enabled="false">
                        </R_TextBox>
                    </R_ItemLayout>
                    <R_ItemLayout Style="width: 5px">
                        <R_Label>=</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="2">
                        <R_NumericTextBox @bind-Value="@loViewModel.Data.NTAX_CURRENCY_RATE"
                                          R_ConductorSource="@_conductorRef"
                                          Enabled="IsTaxCurrencyEnabled">
                        </R_NumericTextBox>
                    </R_ItemLayout>
                    <R_ItemLayout col="1">
                        <R_TextBox @bind-Value="@loViewModel.Data.CLOCAL_CURRENCY_CODE"
                                   R_ConductorSource="@_conductorRef"
                                   Enabled="false">
                        </R_TextBox>
                    </R_ItemLayout>
                </R_StackLayout>

                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>Description*</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="9" Class="pe-4">
                        <R_TextArea @bind-Value="@loViewModel.Data.CTRANS_DESC"
                                    R_ConductorSource="@_conductorRef"
                                    R_EnableAdd R_EnableEdit>
                        </R_TextArea>
                    </R_ItemLayout>
                </R_StackLayout>

            </R_ItemLayout>

            <R_ItemLayout col="5">
                <R_GroupBox Title="Summary">
                    <R_StackLayout Row>
                        <R_ItemLayout col="5" Class="me-1">
                            <R_Label>Total Price</R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="4">
                            <R_NumericTextBox @bind-Value="@loViewModel.Data.NTRANS_AMOUNT"
                                       R_ConductorSource="@_conductorRef"
                                       Arrows="false"
                                       Enabled="false">
                            </R_NumericTextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="2">
                            <R_TextBox @bind-Value="@loViewModel.Data.CCURRENCY_CODE"
                                       R_ConductorSource="@_conductorRef"
                                       Enabled="false">
                            </R_TextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="1">
                            <R_Label></R_Label>
                        </R_ItemLayout>
                    </R_StackLayout>

                    <R_StackLayout Row>
                        <R_ItemLayout col="5" Class="me-1">
                            <R_Label>Total Discount</R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="4">
                            <R_NumericTextBox @bind-Value="@loViewModel.Data.NDISCOUNT"
                                       R_ConductorSource="@_conductorRef"
                                       Arrows="false"
                                       Enabled="false">
                            </R_NumericTextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="2">
                            <R_TextBox @bind-Value="@loViewModel.Data.CCURRENCY_CODE"
                                       R_ConductorSource="@_conductorRef"
                                       Enabled="false">
                            </R_TextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="1">
                            <R_Label>-</R_Label>
                        </R_ItemLayout>
                    </R_StackLayout>
            
                    <R_StackLayout Row>
                        <R_ItemLayout col="5" Class="me-1">
                            <R_Label>Summary Discount</R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="4">
                            <R_NumericTextBox @bind-Value="@loViewModel.Data.NSUMMARY_DISCOUNT"
                                              R_ConductorSource="@_conductorRef"
                                              Arrows="false"
                                              Enabled="false">
                            </R_NumericTextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="2">
                            <R_TextBox @bind-Value="@loViewModel.Data.CCURRENCY_CODE"
                                       R_ConductorSource="@_conductorRef"
                                       Enabled="false">
                            </R_TextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="1">
                            <R_Label>-</R_Label>
                        </R_ItemLayout>
                    </R_StackLayout>

                    <R_StackLayout Row>
                        <R_ItemLayout col="5" Class="me-1">
                            <R_Label>Add On</R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="4">
                            <R_NumericTextBox @bind-Value="@loViewModel.Data.NADD_ON"
                                              R_ConductorSource="@_conductorRef"
                                       Arrows="false"
                                              Enabled="false">
                            </R_NumericTextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="2">
                            <R_TextBox @bind-Value="@loViewModel.Data.CCURRENCY_CODE"
                                       R_ConductorSource="@_conductorRef"
                                       Enabled="false">
                            </R_TextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="1">
                            <R_Label>+</R_Label>
                        </R_ItemLayout>
                    </R_StackLayout>
            
                    <div class="border border-top-5 mt-1 mb-2"></div>

                    <R_StackLayout Row>
                        <R_ItemLayout col="5" Class="me-1">
                            <R_Label>Net Amount</R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="4">
                            <R_NumericTextBox @bind-Value="@loViewModel.Data.NTAXABLE_AMOUNT"
                                              R_ConductorSource="@_conductorRef"
                                       Arrows="false"
                                              Enabled="false">
                            </R_NumericTextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="2">
                            <R_TextBox @bind-Value="@loViewModel.Data.CCURRENCY_CODE"
                                       R_ConductorSource="@_conductorRef"
                                       Enabled="false">
                            </R_TextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="1">
                            <R_Label></R_Label>
                        </R_ItemLayout>
                    </R_StackLayout>

                    <R_StackLayout Row>
                        <R_ItemLayout col="2">
                            <R_Label>Tax</R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="3">
                            <R_Label>(Trx Amount)</R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="4">
                            <R_NumericTextBox @bind-Value="@loViewModel.Data.NTAX"
                                              R_ConductorSource="@_conductorRef"
                                       Arrows="false"
                                              Enabled="false">
                            </R_NumericTextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="2">
                            <R_TextBox @bind-Value="@loViewModel.Data.CCURRENCY_CODE"
                                       R_ConductorSource="@_conductorRef"
                                       Enabled="false">
                            </R_TextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="1">
                            <R_Label>+</R_Label>
                        </R_ItemLayout>
                    </R_StackLayout>

                    <R_StackLayout Row>
                        <R_ItemLayout col="2">
                            <R_Label></R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="3">
                            <R_Label>(Local Amount)</R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="4">
                            <R_NumericTextBox @bind-Value="@loViewModel.Data.NLTAX"
                                              R_ConductorSource="@_conductorRef"
                                              Arrows="false"
                                              Enabled="false">
                            </R_NumericTextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="2">
                            <R_TextBox @bind-Value="@loViewModel.Data.CLOCAL_CURRENCY_CODE"
                                       R_ConductorSource="@_conductorRef"
                                       Enabled="false">
                            </R_TextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="1">
                            <R_Label></R_Label>
                        </R_ItemLayout>
                    </R_StackLayout>

                    <R_StackLayout Row>
                        <R_ItemLayout col="2">
                            <R_Label>Other Tax</R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="3">
                            <R_Label>(Trx Amount)</R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="4">
                            <R_NumericTextBox @bind-Value="@loViewModel.Data.NOTHER_TAX"
                                              R_ConductorSource="@_conductorRef"
                                       Arrows="false"
                                              Enabled="false">
                            </R_NumericTextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="2">
                            <R_TextBox @bind-Value="@loViewModel.Data.CCURRENCY_CODE"
                                       R_ConductorSource="@_conductorRef"
                                       Enabled="false">
                            </R_TextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="1">
                            <R_Label>+</R_Label>
                        </R_ItemLayout>
                    </R_StackLayout>

                    <R_StackLayout Row>
                        <R_ItemLayout col="2">
                            <R_Label></R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="3">
                            <R_Label>(Local Amount)</R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="4">
                            <R_NumericTextBox @bind-Value="@loViewModel.Data.NLOTHER_TAX"
                                              R_ConductorSource="@_conductorRef"
                                       Arrows="false"
                                              Enabled="false">
                            </R_NumericTextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="2">
                            <R_TextBox @bind-Value="@loViewModel.Data.CLOCAL_CURRENCY_CODE"
                                       R_ConductorSource="@_conductorRef"
                                       Enabled="false">
                            </R_TextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="1">
                            <R_Label></R_Label>
                        </R_ItemLayout>
                    </R_StackLayout>

                    <R_StackLayout Row>
                        <R_ItemLayout col="5" Class="me-1">
                            <R_Label>Addition</R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="4">
                            <R_NumericTextBox @bind-Value="@loViewModel.Data.NADDITION"
                                              R_ConductorSource="@_conductorRef"
                                       Arrows="false"
                                              Enabled="false">
                            </R_NumericTextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="2">
                            <R_TextBox @bind-Value="@loViewModel.Data.CCURRENCY_CODE"
                                       R_ConductorSource="@_conductorRef"
                                       Enabled="false">
                            </R_TextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="1">
                            <R_Label>+</R_Label>
                        </R_ItemLayout>
                    </R_StackLayout>

                    <R_StackLayout Row>
                        <R_ItemLayout col="5" Class="me-1">
                            <R_Label>Deduction</R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="4">
                            <R_NumericTextBox @bind-Value="@loViewModel.Data.NDEDUCTION"
                                              R_ConductorSource="@_conductorRef"
                                              Arrows="false"
                                              Enabled="false">
                            </R_NumericTextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="2">
                            <R_TextBox @bind-Value="@loViewModel.Data.CCURRENCY_CODE"
                                       R_ConductorSource="@_conductorRef"
                                       Enabled="false">
                            </R_TextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="1">
                            <R_Label>-</R_Label>
                        </R_ItemLayout>
                    </R_StackLayout>
                    <div class="border border-top-5 mt-1 mb-2"></div>

                    <R_StackLayout Row>
                        <R_ItemLayout col="5" Class="me-1">
                            <R_Label>Total Purchase Amount</R_Label>
                        </R_ItemLayout>
                        <R_ItemLayout col="4">
                            <R_NumericTextBox @bind-Value="@loViewModel.Data.NTOTAL_AMOUNT"
                                              R_ConductorSource="@_conductorRef"
                                              Arrows="false"
                                              Enabled="false">
                            </R_NumericTextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="2">
                            <R_TextBox @bind-Value="@loViewModel.Data.CCURRENCY_CODE"
                                       R_ConductorSource="@_conductorRef"
                                       Enabled="false">
                            </R_TextBox>
                        </R_ItemLayout>
                        <R_ItemLayout col="1">
                            <R_Label></R_Label>
                        </R_ItemLayout>
                    </R_StackLayout>
                </R_GroupBox>

                <R_StackLayout Row="true">
                    <R_ItemLayout col="2">
                        <R_Label>Updated By</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="3">
                        <R_TextBox @bind-Value="@loViewModel.Data.CUPDATE_BY"
                                   R_ConductorSource="@_conductorRef"
                                   Enabled="false"></R_TextBox>
                    </R_ItemLayout>
                    <R_ItemLayout col="1">
                        <R_Label>Date</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="6" Class="pe-3">
                        <R_DateTimePicker @bind-Value="@loViewModel.Data.DUPDATE_DATE"
                                          R_ConductorSource="@_conductorRef"
                                          Enabled="false"></R_DateTimePicker>
                    </R_ItemLayout>
                </R_StackLayout>

                <R_StackLayout Row="true">
                    <R_ItemLayout col="2">
                        <R_Label>Created By</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="3">
                        <R_TextBox @bind-Value="@loViewModel.Data.CCREATE_BY"
                                   R_ConductorSource="@_conductorRef"
                                   Enabled="false"></R_TextBox>
                    </R_ItemLayout>
                    <R_ItemLayout col="1">
                        <R_Label>Date</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="6" Class="pe-3">
                        <R_DateTimePicker @bind-Value="@loViewModel.Data.DCREATE_DATE"
                                          R_ConductorSource="@_conductorRef"
                                          Enabled="false"></R_DateTimePicker>
                    </R_ItemLayout>
                </R_StackLayout>
            </R_ItemLayout>
        </R_StackLayout>

        <R_StackLayout Row Class="justify-content-between">
            <R_ItemLayout>
                <R_AddButton R_Conductor="@_conductorRef"></R_AddButton>
                <R_EditButton R_Conductor="@_conductorRef"></R_EditButton>
                <R_DeleteButton R_Conductor="@_conductorRef"></R_DeleteButton>
            </R_ItemLayout>
            <R_ItemLayout>
                <R_Button R_ConductorSource="@_conductorRef" R_EnableOther OnClick="OnClickSubmit">Submit</R_Button>
                <R_Button R_ConductorSource="@_conductorRef" R_EnableOther OnClick="OnClickSubmit">Redraft</R_Button>
                <R_Button R_ConductorSource="@_conductorRef" R_EnableOther OnClick="OnClickSubmit">Print</R_Button>
                <R_Button R_ConductorSource="@_conductorRef" R_EnableOther OnClick="OnClickSubmit">Detail</R_Button>
                <R_Button R_ConductorSource="@_conductorRef" R_EnableOther OnClick="OnClickSubmit">Summary</R_Button>
                <R_Button R_ConductorSource="@_conductorRef" R_EnableOther OnClick="OnClickSubmit">Journal</R_Button>
            </R_ItemLayout>
            <R_ItemLayout>
                <R_Button R_ConductorSource="@_conductorRef" R_EnableOther OnClick="OnClickSubmit">Tax</R_Button>
                <R_Button R_ConductorSource="@_conductorRef" R_EnableOther OnClick="OnClickSubmit">Allocate</R_Button>
            </R_ItemLayout>
            <R_ItemLayout>
                <R_CancelButton R_Conductor="@_conductorRef"></R_CancelButton>
                <R_SaveButton R_Conductor="@_conductorRef"></R_SaveButton>
            </R_ItemLayout> 
        </R_StackLayout>
    </R_TabStripTab>
    <R_TabStripTab Title="Invoice Item" Id="InvoiceItem">
        <R_TabPage R_Before_Open_TabPage="R_Before_OpenInvoiceItem_TabPage">
            <APT00111></APT00111>
        </R_TabPage>
    </R_TabStripTab>
</R_TabStrip>

<R_Conductor @ref="@_conductorRef"
             R_ViewModel="@loViewModel"
             R_AfterAdd="InvoiceHeader_AfterAdd"
             R_BeforeEdit="InvoiceHeader_BeforeEdit"
             R_BeforeCancel="InvoiceHeader_BeforeCancel"
             R_AfterSave="InvoiceHeader_AfterSave"
             R_ServiceGetRecord="InvoiceHeader_ServiceGetRecord"
             R_ServiceSave="InvoiceHeader_ServiceSave"
             R_ServiceDelete="InvoiceHeader_ServiceDelete"
             R_IsHeader="true" />