 @* @page "/GSM04500"  *@
@inherits R_Page


<R_StackLayout Row="Enabled">
    <R_StackLayout Row="true" class="d-flex align-items-center">
        <R_ItemLayout>
            <R_Label>Journal Group</R_Label>
        </R_ItemLayout>
    </R_StackLayout>

    <R_ItemLayout xs="1" Class="col-2">
        <R_TextBox Enabled="false" />
    </R_ItemLayout>
    <R_ItemLayout xs="2" Class="col-6">
        <R_TextBox Enabled="false" />
    </R_ItemLayout>
</R_StackLayout>

<R_StackLayout>
    <R_Grid @ref="@_gridRef"
            DataSource="JournalGOAViewModel.GOAList"
            R_ConductorGridSource="@_conJournalGOARef"
            R_GridType="@R_eGridType.Original"
            R_ServiceGetListRecord="@R_ServiceGetListRecord"
            Pageable="true"
            AllowDeleteRow="true"
            AllowAddNewRow="false"
            AllowEditRow="true">
        <R_GridColumns>
            <R_GridTextColumn FieldName="GROUPOFACCOUNT" HeaderText="Group of Account" />
            <R_GridCheckBoxColumn FieldName="LDEPARTMENT_MODE" HeaderText="By Dept" R_EnableEdit />
            <R_GridTextColumn FieldName="CGLACCOUNT_NO" HeaderText="GL Account No" R_EnableEdit />
            <R_GridTextColumn FieldName="CGLACCOUNT_NAME" HeaderText="GL Account Name" R_EnableEdit />
            <R_GridTextColumn FieldName="CUPDATE_BY" HeaderText="last Updated By" />
            <R_GridTextColumn FieldName="DUPDATE_DATE" HeaderText="last Updated Date" />
        </R_GridColumns>

    </R_Grid>
</R_StackLayout>

<R_StackLayout mb="8">
</R_StackLayout>

<R_StackLayout Row>
    <R_ItemLayout xs="1" Class="col-lg-1">
        <h5>GROUP OF ACCOUNT</h5>
    </R_ItemLayout>
    <R_ItemLayout xs="2" Class="col-lg-2">
        <R_TextBox @bind-Value="@JournalGOAViewModel.Data.CGOA_NAME"
                   R_ConductorGridSource="@_conJournalGOARef"  Enabled="false">
        </R_TextBox>
    </R_ItemLayout>
</R_StackLayout>


<R_StackLayout>
    <R_Grid @ref="@_gridGOADeptRef"
            DataSource="GOADeptViewModel.GOADeptList"
            R_ConductorGridSource="@_conGOADeptRef"
            R_GridType="@R_eGridType.Original"
            R_ServiceGetListRecord="@GridGOADept_GetList"
            Pageable="true"
            AllowDeleteRow="true"
            AllowAddNewRow="true"
            AllowEditRow="true">

        <R_GridColumns>

            <R_GridLookupColumn R_ResourceId="GSL00700" FieldName="CDEPT_CODE" HeaderText="Department Code" R_EnableAdd R_EnableEdit />
            <R_GridTextColumn FieldName="CDEPT_NAME" HeaderText="Department Name" R_EnableAdd />
            <R_GridLookupColumn FieldName="CGLACCOUNT_NO" HeaderText="GL Account No" R_EnableAdd R_EnableEdit />
            <R_GridTextColumn FieldName="CGLACCOUNT_NAME" HeaderText="GL Account Name" R_EnableAdd R_EnableEdit />
            <R_GridTextColumn FieldName="CUPDATE_BY" HeaderText="last Updated By" />
            <R_GridTextColumn FieldName="DUPDATE_DATE" HeaderText="last Updated Date" />
        </R_GridColumns>
    </R_Grid>
</R_StackLayout>

<R_ConductorGrid @ref="@_conJournalGOARef"
                 R_ViewModel="@JournalGOAViewModel"
                      R_IsHeader
                 R_Display="@Grid_Display"
                 R_ServiceGetRecord="@R_ServiceGetRecordAsync"
                 R_ServiceSave="@ServiceSave" />

<R_ConductorGrid @ref="@_conGOADeptRef"
                 R_ViewModel="@GOADeptViewModel"
                 R_ConductorParent="_conJournalGOARef"
                 R_ServiceGetRecord="R_ServiceGetRecordGOADeptAsync"
                 R_ServiceSave="@ServiceSaveGOADept" />